<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Keys</title>
  </head>
  <body onLoad="myLoadFunction()">
		<div id="uName" style="text-align:right;">
			Username: {{uName}}
		</div>
		<h1>List of keys</h1>
		<div id="list"></div>	<!-- this element will be used to fill the list -->
		<div>
			<button onclick="onJoinButton()">Join</button>
			<button onclick="createButtonHandle()">Create</button>
		</div>
		<div id="joinEnterDetails" style="display:none;">
			<!-- here you will display the text field where user enters the key, and also an ok button -->
			<input id="joinText" type="text" placeholder="Enter key">
			<button id="okButton" onclick="onJoinOk()">OK</button>
		</div>
			
  </body>
	<script>
		(function() {
			// Load the script
			var script = document.createElement("SCRIPT");
			script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js';
			script.type = 'text/javascript';
			script.onload = function() {
				var $ = window.jQuery;
				// Use $ here...
			};
			document.getElementsByTagName("head")[0].appendChild(script);
		})();

		function myLoadFunction() {
			var username = $("#uName").html();
			var colonIndex = username.lastIndexOf(":");
			username = username.slice(colonIndex + 2);
			var xhttp = new XMLHttpRequest();
	
			xhttp.open("GET", "http://18.221.164.229:5000/getuser/"+username, true);
			xhttp.setRequestHeader("Content-Type", "application/json");
			xhttp.send();

			xhttp.onreadystatechange = function () {
				if (xhttp.readyState == 4 && xhttp.status == 200) {
					var user = JSON.parse(xhttp.responseText);
					// load the list
					var codes = user["codes"];
					var i = 0;
					alert(codes);
					var myList = document.getElementById("list");	// the list div element
					for(; i < codes.length; i++)
					{
						var linkURL = "/schedule/" + username + "/" + codes[i];
						var linkText = "" + codes[i];
						var anchorObject = document.createElement("A");
						anchorObject.setAttribute("href", linkURL);	//set the href link to the link on the server
						var linkTextNode = document.createTextNode(linkText);	
						anchorObject.appendChild(linkTextNode);
						myList.appendChild(anchorObject);
						var breakLine = document.createElement("BR");
						myList.appendChild(breakLine);	//add a new line element to the list element	
					}
				}
			}


		}

		function createButtonHandle()
		{
			var username = $("#uName").html();
			var colonIndex = username.lastIndexOf(":");
			username = username.slice(colonIndex + 2);
			var xhttp = new XMLHttpRequest();
			xhttp.open("GET", "/createschedule/"+username, true);
			xhttp.send();
			xhttp.onreadystatechange = function ()
			{
				if (xhttp.readyState == 4 && xhttp.status == 200) {
				    alert("dialog");
				    var myList = document.getElementById("list");	// the list div element

				    var keyString = xhttp.responseText;
				    var linkURL = "/schedule/" + username + "/" + keyString;
				    var linkText = "" + keyString;
				    var linkTextNode = document.createTextNode(linkText);
				    var anchorObject = document.createElement("A");
				    anchorObject.setAttribute("href", linkURL);	//set the href link to the link on the server
				    anchorObject.appendChild(linkTextNode);
				    myList.appendChild(anchorObject);
				    var breakLine = document.createElement("BR");
				    myList.appendChild(breakLine);
				}
			}
		}

		function onJoinOk()
		{
			var username = $("#uName").html();
			var colonIndex = username.lastIndexOf(":");
			username = username.slice(colonIndex + 2);
			
			var keyString = $("#joinText").val();		//get the key entered by the user
			var xhttp = new XMLHttpRequest();
			var temp = JSON.stringify({uName: username, esId: keyString});
			xhttp.open("PUT", "/updateuser/", true);
			xhttp.setRequestHeader("Content-Type", "application/json");
			xhttp.send(temp);	//send the json as a string

			//adding the key entered to the list
			var myList = document.getElementById("list");	// the list div element
			var linkURL = "/schedule/" + username + "/" + keyString;
			var linkText = "" + keyString;
			var linkTextNode = document.createTextNode(linkText);
			var anchorObject = document.createElement("A");
			anchorObject.setAttribute("href", linkURL);	//set the href link to the link on the server
			anchorObject.appendChild(linkTextNode);
			myList.appendChild(anchorObject);
			var breakLine = document.createElement("BR");
			myList.appendChild(breakLine);
		}

		function onJoinButton()
		{
			var joinDetailsArea = document.getElementById("joinEnterDetails");
			joinDetailsArea.style.display = "block";
		}
	</script>
</html>
