<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Portal Login</title>
  </head>
  <body>
    <div style="width: 500px; clear:both;">
      Username:
      <input style="width: 100%; clear:both;" type="text" id="username"><br/>
      Password:
      <input style="width: 100%; clear:both;" type="password" id="password"><br/>
      <button onClick="login()">Login</button>
      <button onClick="createAccount()">Create Account</button><br/>
      <p id="response1"></p>
    </div>
    <div id="createhtml"></div>
  </body>
<script>
// Anonymous "self-invoking" function
(function() {
    // Load the script
    var script = document.createElement("SCRIPT");
    script.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js';
    script.type = 'text/javascript';
    script.onload = function() {
        var $ = window.jQuery;
        // Use $ here...
    };
    document.getElementsByTagName("head")[0].appendChild(script);
})();

function login() {
    var username = $("#username").val();
    var password = $("#password").val();
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
	if (xhttp.readyState == 4 && xhttp.status == 200) {
	    alert(xhttp.responseText);	
	    if (xhttp.responseText === "falied") {
		$("#response1").css({'color': 'red'});
		$("#response1").html("Invalid Username or Password!");
	    } else {
	    	window.open("http://18.221.164.229:5000/home/"+username,"_self",false);
	    }
	}
    }
    xhttp.open("POST", "http://18.221.164.229:5000/checkuser", true);
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.send(JSON.stringify({uName:username, pWord:password})); 
}

function createAccount() {
    alert("ENTERING CREATACCOUNT");
    $("#createhtml").html("<div style=\"width: 500px; clear:both;\">Username:<input style=\"width: 100%; clear:both;\" type=\"text\" id=\"username2\"><br/>Password:<input style=\"width: 100%; clear:both;\" type=\"password\" id=\"password2\"><br/>Retype Password:<input style=\"width: 100%; clear:both;\" type=\"password\" id=\"password3\"><br/><button onClick=\"create()\">Create</button></div><br/><p id=\"response2\"></p>");
}

function create() {
    var username = $("#username2").val(); 
    var password1 = $("#password2").val(); 
    var password2 = $("#password3").val(); 
    if (password1 === password2) {
	//send ajax to create account
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function () {
	    if (xhttp.readyState == 4 && xhttp.status == 200) {
		alert(xhttp.responseText);	
		if (xhttp.responseText === "User Exists") {
		    $("#response2").css({'color': 'red'});
		    $("#response2").html("Username already exists!");
		} else {
		    $("#response2").css({'color': 'green'});
		    $("#response2").html("Account created");
		}
	    }
	}
	xhttp.open("POST", "http://18.221.164.229:5000/adduser", true);
	xhttp.setRequestHeader("Content-Type", "application/json");
	xhttp.send(JSON.stringify({uName:username, pWord:password1, codes:[]})); 
    } else {
	$("#response2").css({'color': 'red'});
    	$("#response2").html("Passwords do not match");
    }
}
</script>
</html>
